.state {
  fill:#d3d3d3;
  stroke:#fff;
  stroke-width:0.75;
  stroke-opacity:1;

  transition-property: fill;
  transition-duration: 0.5s;

}

.state.incorrect{
  fill: #f00;
}

.state:hover{
  fill: #00f;
}

.state.correct{
  fill: #0f0;
}

#current-state{
  width: 959px;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
  color: #222;
  background-color: #eee;
  text-align: center;
}
